<!-- config -->
<?php require_once('config.php'); ?>
<!-- config -->

</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

		<!--left-fixed -navigation-->
		<?php require_once('left_navigation.php'); ?>
		<!--left-fixed -navigation-->		

		<!-- header-->
		<?php require_once('header.php'); ?>
		<!-- header-->

		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page general">

				<div class="panel-group tool-tips widget-shadow" id="accordion" role="tablist" aria-multiselectable="true">

					<h4 class="title2"> Applications</h4>

					<?php 
					$users = $this->session->userdata('data'); 
					$this->session->unset_userdata('data');
					$first = true;
					foreach ($users as $user)
					{
					?>

				  	<div class="panel panel-default">

	
						<div class="panel-heading" role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="<?php echo '#'.$user['username'] ?>" aria-expanded="false" aria-controls="<?php echo $user['username'] ?>" id="<?php echo 'heading'.$user['username'] ?>">
				  		<div class="panel-title" >
							  		<?php echo $user['realname'] ?>
					  	</div>
						</div>

					
						<div id="<?php echo $user['username'] ?>" class="panel-collapse collapse <?php if ($first) { echo 'in'; $first = false; } ?>" role="tabpanel" aria-labelledby="<?php echo 'heading'.$user['username'] ?>">
					
						  	<div class="panel-body">
							<table class="table table-bordered"> 
								<thead> 
									<tr>
										<th>性别</th>
										<th>生日</th>
										<th>学院</th>
										<th>专业</th>
										<th>学号</th>
										<th>年级</th>
										<th>选项</th>										
									</tr> 
								</thead>
								<tbody>
									<tr> 
										<td><?= $user['sex'] == 1 ? '汉子' : '妹纸'; ?></td> 
										<td><?= $user['born'] ?></td> 
										<td><?= $user['college']?></td> 
										<td><?= $user['major']?></td> 
										<td><?= $user['student_id']?></td> 
										<td><?= $user['grade']?></td> 
										<td> 
											<a href="<?= '?username='.$user['username'].'&result=1' ?>"> <button type = "button" class = "btn btn-success">通过</button>	</a>
											<a href="<?= '?username='.$user['username'].'&result=0' ?>"> <button type = "button" class = "btn btn-danger">十动然拒</button> </a>
										</td> 
									</tr>
								</tbody>
							</table>
						 	</div>
						</div>
					</div>
					<?php 
					}
					?>
				</div>
			</div>
		</div>
		
		<!--footer-->
		<?php require_once('footer.php'); ?>
        <!--//footer-->

	</div>
	
	<?php require_once('js.php'); ?>
 
</body>
</html>