<!-- config -->
<?php require_once('config.php'); ?>
<!-- config -->

</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

		<!--left-fixed -navigation-->
		<?php require_once('left_navigation.php'); ?>
		<!--left-fixed -navigation-->		

		<!-- header-->
		<?php require_once('header.php'); ?>
		<!-- header-->

		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page signup-page ">

				<h2 class="title1">Sign In</h2>
			
				<div class="sign-up-row widget-shadow">

					<form action="#" method="post">
					
						<div class="sign-u">
							<?php $field = 'username'; $label = '用户名'?>
							<?php echo form_error($field, '','') ?> 
							<input type="text" class="user" name="<?php echo $field ?>" placeholder="<?php echo $label ?>" required="" value = "<?php echo set_value($field)?>">
							<div class="clearfix"> </div>
						</div>

						<div class="sign-u">
							<?php $field = 'password'; $label = '密码'?>
							<?php echo form_error($field, '','') ?> 
							<input type="password" class="user" name="<?php echo $field ?>" placeholder="<?php echo $label ?>" required="" value = "<?php echo set_value($field)?>">
							<div class="clearfix"> </div>
						</div>

						<div class="forgot">
							<a href="#">forgot password?</a>
						</div>
						<div class="clearfix"> </div>
					
						<div class="registration">
							Don't have an account ?
							<a class="" href="register">
								Create an account
							</a>
						</div>

						<div class="sub_home">
							<input type="submit" value="login">
							<div class="clearfix"> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!--footer-->
		<?php require_once('footer.php'); ?>
        <!--//footer-->

	</div>
	
	<?php require_once('js.php'); ?>
   
</body>
</html>