<!-- config -->
<?php require_once('config.php'); ?>
<!-- config -->
<style>
#chartdiv {
  width: 100%;
  height: 295px;
}
</style>
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

		<!--left-fixed -navigation-->
		<?php require_once('left_navigation.php'); ?>
		<!--left-fixed -navigation-->		

		<!-- header-->
		<?php require_once('header.php'); ?>
		<!-- header-->

		<!-- main content start-->
		<div id="page-wrapper">



			<div class="main-page">

				<div class="col_3">
		        	<div class="col-md-3 widget widget1 sub_home" style="width: auto; ">
		        		<div class="r3_counter_box" style="width: 200px; height: 175px">
		                    <div class="stats">
		                      <h5><strong style="font-size: 80px">5</strong><strong style="font-size: 50px">月&nbsp;23</strong></h5>
		                      <center>
		                      	<span><?=date('H : i : s', time())?></span><br>
		                      	<span>星 期 <?=date('w')?> , 实 验 室 , 晴</span>
		                      </center>
		                    </div>
		                </div>
		        	</div>

		        	<div class="col-md-3 widget widget1 sub_home" style="width: auto;">
		        		<div class="r3_counter_box" style="width: 850px; height: 175px;">
		                    <div class="stats">
		                      <h5><strong style="font-size: 75px">&nbsp;It has happened before ,</strong></h5>
		                      <span style="font-size: 30px">&nbsp;&nbsp;and it will happen again !</span><br>
		                    </div>
		                </div>
		        	</div>

				</div>

				<div class="clearfix"> </div>

				<div class="col_3" style="margin-top: 20px">
										
					<?php $icon = 'pencil' ?>
					<div class="col-md-3 widget widget1 sub_home" style="width: 100px; height: 102px">
		        		<div class="r3_counter_box" style="width: 98px; height: 100px; ">
		        		<a href="../Sign/register">
		                    <i class="pull-left fa fa-<?=$icon?> user2 icon-rounded"></i>
						</a>
		                </div>
					</div>


		        	<div class="col-md-3 widget widget1">
		        		<div class="r3_counter_box">
		                    <i class="pull-left fa fa-flag dollar2 icon-rounded" style="background: #000000"></i>
		                    <div class="stats">
		                      <h5><strong>233</strong></h5>
		                      <span>今日签到</span>
		                    </div>
		                </div>
		        	</div>

		        	<div class="col-md-3 widget widget1">
		        		<div class="r3_counter_box">
		                    <i class="pull-left fa fa-user user2 icon-rounded"></i>
		                    <div class="stats">
		                      <h5><strong>199</strong></h5>
		                      <span>今日人数</span>
		                    </div>
		                </div>
		        	</div>

		        	<div class="col-md-3 widget widget1">
		        		<div class="r3_counter_box">
		                    <i class="pull-left fa fa-users dollar1 icon-rounded"></i>
		                    <div class="stats">
		                      <h5><strong>199</strong></h5>
		                      <span>近三天人数</span>
		                    </div>
		                </div>
		        	</div>
	        	</div>
				
				<div class="clearfix"> </div>

				<div class="row-one widgettable">


	        		<div class="col-md-6 content-top-2 card">
						<div class="agileinfo-cdr">
							<div class="card-header">
	                        	<h3>Today sign</h3>
	                   	 	</div>
							<div id="Linegraph" style="width: 100%; height: 335px">
							</div>
							
						</div>
					</div>
					
					<div class="col-md-2 stat">

						<div class="content-top-1">
							<div class="col-md-6 top-content">
								<h5>Morning</h5>
								<label>1283+</label>
							</div>
							<div class="col-md-6 top-content1">	   
								<div id="demo-pie-1" class="pie-title-center" data-percent="45"> <span class="pie-value"></span> </div>
							</div>
						 	<div class="clearfix"> </div>
						</div>
						
						<div class="content-top-1">
							<div class="col-md-6 top-content">
								<h5>Afternoon</h5>
								<label>2262+</label>
							</div>
							
							<div class="col-md-6 top-content1">	   
								<div id="demo-pie-2" class="pie-title-center" data-percent="75"> <span class="pie-value"></span> </div>
							</div>
						 	
						 	<div class="clearfix"> </div>
						</div>

						<div class="content-top-1">
							<div class="col-md-6 top-content">
								<h5>Evening</h5>
								<label>12589+</label>
							</div>
							<div class="col-md-6 top-content1">	   
								<div id="demo-pie-3" class="pie-title-center" data-percent="90"> <span class="pie-value"></span> </div>
							</div>
							 
							 <div class="clearfix"> </div>
						</div>
						
					</div>

                    	<div class="col-sm-4 w3-agile-crd widgettable">
                            <div class="card">
                                <div class="card-body card-padding">
                                    <div class="">
                                        <header class="widget-header">
                                            <h4 class="widget-title">Activities</h4>
                                        </header>
                                        <hr class="widget-separator">
                                        <div class="widget-body">
                                            <div class="streamline">
                                                <div class="sl-item sl-primary">
                                                    <div class="sl-content">
                                                        <small class="text-muted">0 mins ago</small>
                                                        <p>Alexander has just joined</p>
                                                    </div>
                                                </div>
                                                <div class="sl-item sl-danger">
                                                    <div class="sl-content">
                                                        <small class="text-muted">15 minutes ago</small>
                                                        <p>Michael has sent a request for access</p>
                                                    </div>
                                                </div>
                                                <div class="sl-item sl-success">
                                                    <div class="sl-content">
                                                        <small class="text-muted">18 minutes ago</small>
                                                        <p>chris added you to his team</p>
                                                    </div>
                                                </div>
                                                <div class="sl-item">
                                                    <div class="sl-content">
                                                        <small class="text-muted">22 minutes ago</small>
                                                        <p>jackson has finished his task</p>
                                                    </div>
                                                </div>
                                                <div class="sl-item sl-warning">
                                                    <div class="sl-content">
                                                        <small class="text-muted">30 minutes ago</small>
                                                        <p>Jacob shared a folder with you</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="clearfix"></div>



				</div>
						

        	</div>
        </div>

		<!--footer-->
		<?php require_once('footer.php'); ?>
        <!--//footer-->

	</div>

	<!-- for index page weekly sales java script -->
	<script src="../../assets/js/SimpleChart.js"></script>
    <script>

        var graphdata1 = {
            linecolor: "#CCA300",
            title: "Monday",
            values: [

            { X: "7:00", Y: 2 },
            { X: "8:00", Y: 4 },
            { X: "9:00", Y: 3 },
            { X: "10:00", Y: 4 },

            { X: "14:00", Y: 4 },
            { X: "15:00", Y: 1 },

            { X: "19:00", Y: 4 },
            { X: "20:00", Y: 2 },
            ]
        };

        $(function () {
            $("#Linegraph").SimpleChart({
                ChartType: "Line",
                toolwidth: "25",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: false,
                data: [graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Today sign',
                yaxislabel: ''
            });
        });



    </script>
	<!-- //for index page weekly sales java script -->

	
	<?php require_once('js.php'); ?>
   
</body>
</html>
