<!-- config -->
<?php require_once('config.php'); ?>
<!-- config -->
<style>
#chartdiv {
  width: 100%;
  height: 295px;
}
</style>
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

		<!--left-fixed -navigation-->
		<?php require_once('left_navigation.php'); ?>
		<!--left-fixed -navigation-->		

		<!-- header-->
		<?php require_once('header.php'); ?>
		<!-- header-->

		<!-- main content start-->
		<div id="page-wrapper">

	
			<div class="main-page">	
			<p>会议室门 </p>
			<br>
<!--				<div class="col-md-3 widget widget1 sub_home" style="width: 200px; height: 700px; float left">
		        	<div class="r3_counter_box" style="width: auto; height: 100%; ">
		        		<a href="../Sign/register">
		                    <i class="pull-left fa fa-user dollar2 icon-rounded" style="background: green"></i>
						</a>
		            </div>
				</div>-->
				<div class="clearfix">
					<div class="col-md-3 widget widget1 sub_home" style="width: 300px; height: 300px">
			        	<div class="r3_counter_box" style="width: auto; height: 100%; ">
			        		<center>
			                    <div style="height: 90px; width: 298px; padding: 10px">
									<div class="dropdown head-dpdn" style="height: auto; width: 270px; ma">
										<span class="dropdown head-dpdn" style="float: left; margin-left: 40px;">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding: 0px">
															<span class="prfil-img">
																<img src="../../assets/images/kdy.jpg" style="width: 60px; height: 60px; border: 1px solid gray" alt=""> 
															</span> 
														</a>

														<ul class="dropdown-menu" style="width: 500px; height: 500px">

														</ul>
										</span>
										<span class="dropdown head-dpdn" style="float: left; margin-left: 40px;">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding: 0px">
															<span class="prfil-img">
																<img src="../../assets/images/kdy.jpg" style="width: 60px; height: 60px; border: 1px solid gray" alt=""> 
															</span> 
														</a>

														<ul class="dropdown-menu" style="width: 500px; height: 500px">
														</ul>
										</span>
									</div>
								</div>

			                    <div style="height: 90px; width: 298px; padding: 10px">
									<div class="dropdown head-dpdn" style="height: auto; width: 270px; ma">
										<span class="dropdown head-dpdn" style="float: left; margin-left: 0px;">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding: 0px">
															<span class="prfil-img">
																<img src="../../assets/images/kdy.jpg" style="width: 60px; height: 60px; border: 1px solid gray" alt=""> 
															</span> 
														</a>

														<ul class="dropdown-menu" style="width: 500px; height: 500px">

														</ul>
										</span>
										<span class="dropdown head-dpdn" style="float: left; margin-left: 115px;">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding: 0px">
															<span class="prfil-img">
																<img src="../../assets/images/kdy.jpg" style="width: 60px; height: 60px; border: 1px solid gray" alt=""> 
															</span> 
														</a>

														<ul class="dropdown-menu" style="width: 500px; height: 500px">
														</ul>
										</span>
									</div>
								</div>

			                    <div style="height: 90px; width: 298px; padding: 10px">
									<div class="dropdown head-dpdn" style="height: auto; width: 270px; ma">
										<span class="dropdown head-dpdn" style="float: left; margin-left: 40px;">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding: 0px">
															<span class="prfil-img">
																<img src="../../assets/images/kdy.jpg" style="width: 60px; height: 60px; border: 1px solid gray" alt=""> 
															</span> 
														</a>

														<ul class="dropdown-menu" style="width: 500px; height: 500px">

														</ul>
										</span>
										<span class="dropdown head-dpdn open" style="float: left; margin-left: 40px;">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding: 0px">
															<span class="prfil-img">
																<img src="../../assets/images/kdy.jpg" style="width: 60px; height: 60px; border: 1px solid gray" alt=""> 
															</span> 
														</a>

														<ul class="dropdown-menu" style="width: 500px; height: auto">
															<li>
																<div class="notification_header" style="font-size: 18px">
																	<strong>Position 3</strong>
																</div>
															</li>
															<li>
																<div class="task-info" style="margin-left: 10px; font-size: 18px"> 
																<strong>Owner：</strong><br>
																<strong>Ip：</strong>
																</div>
															</li>
															<li>
																<div class="notification_bottom">
																	<a href="#">Take it !</a>
																</div> 
															</li>
														</ul>
										</span>
									</div>
								</div>
							</center>
			            </div>
					</div>



					<div class="col-md-3 widget widget1 sub_home" style="width: 300px; height: 300px">
			        	<div class="r3_counter_box" style="width: auto; height: 100%; ">


			        		<center>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>

			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 5px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 100px;"></i>
								</div>
			                    <div style="height: 80px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
							</center>
			            </div>
					</div>

					<div class="col-md-3 widget widget1 sub_home" style="width: 300px; height: 300px">
			        	<div class="r3_counter_box" style="width: auto; height: 100%; ">
			        		<center>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 5px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 100px;"></i>
								</div>
			                    <div style="height: 80px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
							</center>
			            </div>
					</div>

				
				</div>

				<div class="clearfix" style="margin-top: 20px">

					<div class="col-md-3 widget widget1 sub_home" style="width: 300px; height: 300px">
			        	<div class="r3_counter_box" style="width: auto; height: 100%; ">
			        		<center>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 5px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 100px;"></i>
								</div>
			                    <div style="height: 80px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
							</center>
			            </div>
					</div>

					<div class="col-md-3 widget widget1 sub_home" style="width: 300px; height: 300px">
			        	<div class="r3_counter_box" style="width: auto; height: 100%; ">
			        		<center>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 5px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 100px;"></i>
								</div>
			                    <div style="height: 80px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
							</center>
			            </div>
					</div>

					<div class="col-md-3 widget widget1 sub_home" style="width: 300px; height: 300px">
			        	<div class="r3_counter_box" style="width: auto; height: 100%; ">
			        		<center>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
			                    <div style="height: 90px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 5px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 100px;"></i>
								</div>
			                    <div style="height: 80px; width: 298px">
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px; margin-left: 50px;"></i>
			                    	<i class="pull-left fa fa-user dollar2 icon-rounded" style="background: gray; margin: 10px;"></i>
								</div>
							</center>
			            </div>
					</div>
				
				</div>


        	</div>
        </div>

		<!--footer-->
		<?php require_once('footer.php'); ?>
        <!--//footer-->

	</div>

	<!-- for index page weekly sales java script -->
	<script src="../../assets/js/SimpleChart.js"></script>
 	<?php
 		if (true) {
 	?>
    <script>

        var graphdata1 = {
            linecolor: "#CCA300",
            title: "Monday",
            values: [

            { X: "<?php echo 1 ?>:00", Y: 2 },
            { X: "8:00", Y: 4 },
            { X: "9:00", Y: 3 },
            { X: "10:00", Y: 4 },

            { X: "14:00", Y: 4 },
            { X: "15:00", Y: 1 },

            { X: "19:00", Y: 4 },
            { X: "20:00", Y: 2 },
            ]
        };

        $(function () {
            $("#Linegraph").SimpleChart({
                ChartType: "Line",
                toolwidth: "25",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: false,
                data: [graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: '别看了这个是假的，还没写好 ( ﹁ ﹁ )',
                yaxislabel: ''
            });
        });

    </script>

	<?php
    }
    ?>

	<!-- //for index page weekly sales java script -->

	
	<?php require_once('js.php'); ?>
   
</body>
</html>
