<!-- config -->
<?php require_once('config.php'); ?>
<!-- config -->
<style>
#chartdiv {
  width: 100%;
  height: 295px;
}
</style>
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

		<!--left-fixed -navigation-->
		<?php require_once('left_navigation.php'); ?>
		<!--left-fixed -navigation-->		

		<!-- header-->
		<?php require_once('header.php'); ?>
		<!-- header-->

		<!-- main content start-->
		<div id="page-wrapper">

			<?php
			$positions = $this->session->userdata('position');
			$this->session->unset_userdata('position');
			?>
			<div class="main-page">	
			<p>会议室门 </p>
			
			<?php
			for ($row = 0; $row < 2; $row++)
			{
			?>
				<div class="clearfix" style="margin-top: 20px">
				
				<?php
				for ($col = 0; $col < 3; $col++)
				{
				?>
					<div class="col-md-3 widget widget1 sub_home" style="width: 300px; height: 300px">
			        	<div class="r3_counter_box" style="width: auto; height: 100%; ">
			        		<center>
							
							<?php
							for ($i = 0; $i < 3; $i++)
							{
								if ($i == 1) { $mg[0] = 0; $mg[1] = 115; }
								else { $mg[0] = $mg[1] = 40; }
							?>

			                    <div style="height: 90px; width: 298px; padding: 10px">
									<div class="dropdown head-dpdn" style="height: auto; width: 270px; ">

									<?php
									for ($j = 0; $j < 2; $j++)
									{
										$id = $row * 18 + $col * 6 + $i * 2 + $j + 1;
									?>
										<span class="dropdown head-dpdn" style="float: left; margin-left: <?=$mg[$j]?>px;">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding: 0px">
												<span class="prfil-img">
													<img src="../../assets/images/<?=$positions[$id]['username'] == '-' ? 'blank.jpg' : 'kdy.jpg'?>" style="width: 60px; height: 60px; border: 1px solid gray" alt=""> 
												</span> 
											</a>
											<ul class="dropdown-menu" style="width: 500px; height: auto">
												<li>
													<div class="notification_header" style="font-size: 18px">
														<strong>Position <?=$id?></strong>
													</div>
												</li>
												<li>
													<div class="task-info" style="margin-left: 10px; font-size: 18px"> 
														<strong>Owner：</strong><?=$positions[$id]['username']?><br>
														<strong>Ip：</strong><?=$positions[$id]['ip']?>
													</div>
												</li>
												<li>
													<div class="notification_bottom">
														<a href="#">Take it !</a>
														</div> 
												</li>
											</ul>
										</span>
									<?php
									}
									?>
									
									</div>
								</div>
							<?php
							}
							?>
							</center>
			            </div>
					</div>
				<?php
				}
				?>

				</div>
			<?php
			}
			?>
        	</div>
        </div>

		<!--footer-->
		<?php require_once('footer.php'); ?>
        <!--//footer-->

	</div>

	<!-- for index page weekly sales java script -->
	<script src="../../assets/js/SimpleChart.js"></script>
 	<?php
 		if (true) {
 	?>
    <script>

        var graphdata1 = {
            linecolor: "#CCA300",
            title: "Monday",
            values: [

            { X: "<?php echo 1 ?>:00", Y: 2 },
            { X: "8:00", Y: 4 },
            { X: "9:00", Y: 3 },
            { X: "10:00", Y: 4 },

            { X: "14:00", Y: 4 },
            { X: "15:00", Y: 1 },

            { X: "19:00", Y: 4 },
            { X: "20:00", Y: 2 },
            ]
        };

        $(function () {
            $("#Linegraph").SimpleChart({
                ChartType: "Line",
                toolwidth: "25",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: false,
                data: [graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: '别看了这个是假的，还没写好 ( ﹁ ﹁ )',
                yaxislabel: ''
            });
        });

    </script>

	<?php
    }
    ?>

	<!-- //for index page weekly sales java script -->

	
	<?php require_once('js.php'); ?>
   
</body>
</html>
