<!-- config -->
<?php require_once('config.php'); ?>
<!-- config -->
<style>
#chartdiv {
  width: 100%;
  height: 295px;
}
</style>
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

			<!--left-fixed -navigation-->
			<?php require_once('left_navigation.php'); ?>
			<!--left-fixed -navigation-->		

			<!-- header-->
			<?php require_once('header.php'); ?>
			<!-- header-->

			<!-- main content start-->
			<div id="page-wrapper">

				<div class="main-page">
					
					<!-- left: user base info -->
					<div class="col-md-4 chart-layer1-right" style="width: auto"> 
						<div class="user-marorm" style="width: 400px">
							<div class="malorum-top" style="min-height: 200px">				
							</div>
							<div class="malorm-bottom" style="min-height: 541px">
								<span class="malorum-pro" style=" background: url('../../assets/images/kdy.jpg'); background-size: 100%"> </span>
								<?php 
									$user = $this->session->userdata('data');
									$this->session->unset_userdata('data');
								?>
								<h2><?=$user['username'].' ( '.$user['realname'].' ) '?></h2>
								<p style="font-size: 17px"> <strong><?=$user['role'] == 1 ? '萌新选手' : '正式选手'?></strong><br>
									<?=$user['grade']?> 级，<?=$user['college']?>, <?=$user['major']?><br>
								    <strong><?=substr($user['register'], 0, 10)?></strong> 来到 <strong>tTMoon</strong> <br>
								   	迄今共有 <strong><?=$user['sign_history']['days']?></strong> 天的回忆<br>
								   	在这里度过了<br>
								    <strong><?=$user['sign_history']['morning']?></strong> 个清晨 <br>
								    <strong><?=$user['sign_history']['afternoon']?></strong> 个午后 <br>
								    <strong><?=$user['sign_history']['evening']?></strong> 个凉夜 <br>
								    累计参与了 <strong>?</strong> 次活动 <br>
								    <strong><?=$user['sign_history']['last_sign']?></strong> 刚来玩过<br>
								</p>
								<p style="font-size: 10px; color: gray" >
									<br>
									<strong>ta</strong> 的故事还在继续...
								</p>
								<ul class="malorum-icons">
									<li><a href="#"><i class="fa fa-facebook"> </i>
										<div class="tooltip"><span>Facebook</span></div>
									</a></li>
									<li><a href="#"><i class="fa fa-twitter"> </i>
										<div class="tooltip"><span>Twitter</span></div>
									</a></li>
									<li><a href="#"><i class="fa fa-google-plus"> </i>
										<div class="tooltip"><span>Google</span></div>
									</a></li>
								</ul>
							</div>
					   	</div>					
						<div class="clearfix"> </div>
					</div>
					<!-- left: user base info -->

					<!-- middle: detail info-->
					<div class="col-md-6 general-grids grids-right widget-shadow" style="width: 800px; height: 740px">
<!--						<h4 class="title2">Horizontal Tabs:</h4>-->
						<ul id="myTabs" class="nav nav-tabs" role="tablist"> 
							<li role="presentation" class="active">
								<a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
									全部签到记录
								</a>
							</li> 
							<li role="presentation" class="">
								<a href="#profile" id="profile-tab" role="tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">
									?
								</a>
							</li> 
							<li role="presentation" class="dropdown"> 
								<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">
									? 
									<span class="caret"></span>
								</a> 
								<ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents"> 
									<li class="">
										<a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">
											?
										</a>
									</li> 
									<li class="">
										<a href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">
											?
										</a>
									</li> 
								</ul> 
							</li> 
						</ul>
						<div id="myTabContent" class="tab-content scrollbar1"> 
							<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
							
								<div class="col-md-6 panel-grids" style="width: 100%; margin-top:20px; padding-left: 0px">
									<div class="panel panel-success" style="margin-bottom: 0px"> 
										<div class="panel-heading" style="height: 35px; padding: 10px"> 
											<h3 class="panel-title">
												2018-05-12 早上 20:23:57
											</h3> 
										</div> 
										<div class="panel-body" style="height: 0px; padding: 0px"> </div> 
									</div>
								</div>

								<div class="col-md-6 panel-grids" style="width: 100%; margin-top:20px; padding-left: 0px">
									<div class="panel panel-primary" style="margin-bottom: 0px"> 
										<div class="panel-heading" style="height: 35px; padding: 10px"> 
											<h3 class="panel-title">
												2018-05-12 晚上 
											</h3> 
											<h3 class="panel-title" style="float: right;">
												20:23:57
											</h3>
										</div> 
										<div class="panel-body" style="height: 0px; padding: 0px"> </div> 
									</div>
								</div>

								<div class="col-md-6 panel-grids" style="width: 100%; margin-top:20px; padding-left: 0px">
									<div class="panel panel-warning" style="margin-bottom: 0px"> 
										<div class="panel-heading" style="height: 35px; padding: 10px"> 
											<h3 class="panel-title">
												2018-05-12 下午 20:23:57
											</h3> 
										</div> 
										<div class="panel-body" style="height: 0px; padding: 0px"> </div> 
										</div> 
									</div>
								</div>

							</div> 
							<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab"> 
								<p>敬请期待</p> 
							</div> 
							<div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab"> 
								<p>敬请期待</p> 
							</div> 
							<div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab"> 
								<p>敬请期待</p> 
							</div> 
						</div>
					</div>
					<!-- middle: detail info-->

					<div style="float: left; width: 320px; margin-left: 20px">
						<!-- right-up: my activiry -->
						<div class="col-md-6 general-grids grids-right widget-shadow" style="width: 300px; height: 350px; padding: 20px;">
							<h4 class="title2" style="margin-bottom: 15px"><strong>Relevant Activties</strong></h4>
							<ul id="myTabs" class="nav nav-tabs" role="tablist"> 
								<li role="presentation" class="active" style="height: auto; width: auto">
									<a href="#coming" id="coming-tab" role="tab" data-toggle="tab" aria-controls="coming" aria-expanded="true"
										style="height: 35px; padding-top: 3px">
										Coming
									</a>
								</li> 
								<li role="presentation" class="">
									<a href="#finished" id="finished-tab" role="tab" data-toggle="tab" aria-controls="finished" aria-expanded="false" 
										style="height: 35px; padding-top: 3px">
										Finished
									</a>
								</li> 
							</ul>
							<div id="myTabContent" class="tab-content scrollbar1"> 
								<div role="tabpanel" class="tab-pane fade active in" id="coming" aria-labelledby="coming-tab"> 
									<p> 
										即将到来 
									</p> 
								</div> 
								<div role="tabpanel" class="tab-pane fade" id="finished" aria-labelledby="profile-tab"> 
									<p>
										已经完成
									</p> 
								</div> 
							</div>
						</div>			
						<!-- right-up: my activiry -->

						<!-- right-down: my movement -->
						<div class="col-md-6 general-grids grids-right widget-shadow" style="width: 300px; height: auto; margin-top: 40px; padding: 20px">
							<h4 class="title2"><strong>Movement</strong></h4>
							<ul id="myTabs" class="nav nav-tabs" role="tablist"> 
								<li role="presentation" class="active" style="height: auto; width: auto">
									<a href="#all" id="all-tab" role="tab" data-toggle="tab" aria-controls="all" aria-expanded="true"
										style="height: 35px; padding-top: 3px">
										All
									</a>
								</li> 
								<li role="presentation" class="">
									<a href="#sign" id="sign-tab" role="tab" data-toggle="tab" aria-controls="sign" aria-expanded="false" 
										style="height: 35px; padding-top: 3px">
										Sign
									</a>
								</li> 
							</ul>
							<div id="myTabContent" class="tab-content scrollbar1" style="height: auto"> 
								<div role="tabpanel" class="tab-pane fade" id="all" aria-labelledby="all-tab"> 
									<p> 
										汇总
									</p> 
								</div> 
								<div role="tabpanel" class="tab-pane fade active in" id="sign" aria-labelledby="sign-tab"> 
									<p>
				                            <div class="card" style="width: auto; height: auto; margin-left:5px;">
				                                <div class="card-body card-padding" style="padding-left: 5px;">
				                                    <div class="">
				                                        <header class="widget-header">
				                                        </header>
				                                        <div class="widget-body">
				                                            <div class="streamline" style="height: auto">
				                                                <div class="sl-item sl-success" style="height: auto">
				                                                    <div class="sl-content">
				                                                        <small class="text-muted">时间</small>
				                                                        <p>签到</p>
				                                                    </div>
				                                                </div>
				                                                <div class="sl-item sl-success">
				                                                    <div class="sl-content">
				                                                        <small class="text-muted">时间</small>
				                                                        <p>签到</p>
				                                                    </div>
				                                                </div>
				                                                <div class="sl-item sl-success">
				                                                    <div class="sl-content">
				                                                        <small class="text-muted">时间</small>
				                                                        <p>签到</p>
				                                                    </div>
				                                                </div>
																...
				                                            </div>
				                                        </div>

				                                    </div>
				                                </div>
				                            </div>
									</p> 
								</div> 
							</div>
						</div>	
					
						<!-- right-down: my movement -->
					</div>	
						<div class="clearfix"> </div>

				</div>						
        	</div>
        </div>

		<!--footer-->
		<?php require_once('footer.php'); ?>
        <!--//footer-->

	</div>
	
	<?php require_once('js.php'); ?>
   
</body>
</html>
