<!-- config -->
<?php require_once('config.php'); ?>
<!-- config -->

</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

		<!--left-fixed -navigation-->	
		<?php require_once('left_navigation.php'); ?>
		<!--left-fixed -navigation-->

		<!-- header-->
		<?php require_once('header.php'); ?>
		<!-- header-->

		<!-- main content start-->
		<div id="page-wrapper">

			<div class="main-page signup-page">

				<h2 class="title1">Setting</h2>

				<div class="sign-up-row widget-shadow">

					<h5>Personal Information :</h5>

					<form action="#" method="post">

						<div class="sign-u">
							<?php $field = 'qq'; $label = 'qq 号码'?>
							<?php echo form_error($field, '','') ?> 
							<input type="text" name="<?php echo $field ?>" placeholder="<?php echo $label ?>"  value = "<?php echo set_value($field)?>" style="margin-top: 10px">
							<div class="clearfix"> </div>
						</div>

						<div class="sub_home">
							<input type="submit" value="Change">
							<div class="clearfix"> </div>
						</div>
					</form>

					<form action="upload_avatar" class="form-horizontal" method="post" enctype="multipart/form-data" style="margin-top: 40px">
                        <div class="file">
                        <span style="color:gray; font-size: 10px">后缀必须为 .jpg</span><input type="file" name="userfile" id="" required="" /> 

                        </div>
						<div class="sub_home">
							<input type="submit" value="Upload">
							<div class="clearfix"> </div>
						</div>
                    </form>
				</div>
			</div>
		</div>

		<!--footer-->
		<?php require_once('footer.php'); ?>
        <!--//footer-->

	</div>
	
	<?php require_once('js.php'); ?>


</body>
</html>


